body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;


}

canvas {
    display: block;
    position: fixed;

}

main {
    color: #D5CEA3;
    max-width: 800px;
    min-height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #61dafb;
}

section {
    padding: 40px;
    padding-top: 20px;
}

.project {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

@media only screen and (max-width: 700px) {
    main {
        margin: 0;
        padding: 0;
    }

    section {
        padding: 20px;
    }
}